<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bem-vindo à Livraria</title>
    <!-- Inclua o link para o Bootstrap (CDN utilizado aqui) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Estilo CSS personalizado -->
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 50px;
            text-align: center;
        }

        h2 {
            color: #007bff;
        }

        .btn-option {
            margin: 15px;
            font-size: 18px;
            padding: 15px 30px;
        }
    </style>
</head>
<body>
<div class="container">
    <h2 class="mb-4">Bem-vindo à Livraria</h2>
    <div>
        <a href="/client" class="btn btn-primary btn-option">Cadastrar Cliente</a>
        <a href="/books" class="btn btn-success btn-option">Cadastrar Livro</a>
        <a href="/purchase" class="btn btn-info btn-option">Comprar Livro</a>
    </div>
</div>
</body>
</html>
